MONGODB_URI=mongodb://Address_in_here
BATCHSUPPORTED=FALSE
TOKEN_ENCRYPTION_KEY=TestiToken
FHIR_SERVER=FHIR_TEST_SERVER_ADDRESS
CONNECT_API_KEY_PRIVATE=This is secret key.
TOKEN_API_SERVER_ADDRESS=Address where api Server working on.
NODE_EXTRA_CA_CERTS=Certificate file path in here and file.
USE_DATASET_TEMP_STORAGE=false
SKIP_OLD_RECORDS=false
PRIVATE_KEY_ADDRESS=File path of private key file